header{
display:flex;
justify-content:space-around;
align-items:center;
padding:10px 10px;
background:white;
border-bottom:1px solid #eee;
margin: 0;
height: 40px;
}

header nav a{
margin-left:20px;
text-decoration:none;
color:#333;
font-weight:500;
}
header nav button{
    background-color: white;
    border: 1px solid #dfd7d7;
    border-radius: 18px;
    color:rgb(23, 108, 227);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 8px 14px;
}
header nav img{
    height:20px;
    width: 20px;
    object-fit: contain;
    vertical-align: middle;
}
header h2{
    font-size:40px;
    margin-bottom:20px;
    color: rgb(15, 119, 209);
    text-align: center;
}
.download:hover{
    background-color: rgba(86, 146, 230, 0.1);
}
.info{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(1335316-0_2-VRBO_HERO_Pool_L-2X.jpg);
    background-size:cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 360px;
    color: white;
    margin: 0;    

}
 .search-info,.input-info{
    margin: 10px 5px;
    background-color: white;
    border-radius: 18px;
    border: 1px solid #474343;
    width:200px;
    height: 50px;
    align-items: center;
    width: 100%;

    }
 .search-box{
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    margin-top: auto;
    margin-bottom: 20px;
 }
 .search-info{
    width: 140px;
    height: 50px;
    background-color: rgb(3, 37, 67);
    color: white;
    vertical-align:center;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 14px;
 }
 .search-info:hover{
    background-color: rgb(3, 37, 67, 0.8);
 }
 .info-h1{
    padding-bottom: 90px;
    padding-top: 90px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 100px;
    
 }